@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Merriweather:wght@900&display=swap');
.header__logo{
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;

/* Accent */

color: #005FA3;
}
.nav-item{
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #222222;
}